<!-- include head  -->
<%- include('incs/header.ejs') %>

<!-- include navbar  -->
<%- include('incs/navbar.ejs') %>
<!-- Write content of page  -->

<div class="container mt-5">
    <div class="row">
        <div class="col col-sm-4">
            <div class="profile-image text-center">
                <img src="/<%=image %>" width="200px" alt="profile image"
                    style="border-radius: 50%;background: #eeeeee;">
            </div>

        </div>
        <div class="col col-sm-8">
            <div class="profile-name">
                <h3> <%=username %></h3>
            </div>
            <% if (!isOwner) { %>


            <form method="post">
                <input type="hidden" name="myId" value="<%= myId %>">
                <input type="hidden" name="myName" value="<%= myName %>">
                <input type="hidden" name="myImage" value="<%= myImage %>">
                <input type="hidden" name="friendId" value="<%= id %>">
                <input type="hidden" name="friendName" value="<%= username %>">
                <input type="hidden" name="friendImage" value="<%= image %>">
                <% if (isFriends) { %>
                    <input type="submit" value="Delete Friend" class="btn btn-danger" formaction="/friend/delete">
                <% } else if ( isRequestSent ) {%>
                    <input type="submit" value="Cancel Request" class="btn btn-danger" formaction="/friend/cancel">
                <% } else if ( isRequestRecieved ) {%>
                    <input type="submit" value="Accept" class="btn btn-success" formaction="/friend/accept">
                    <input type="submit" value="Reject" class="btn btn-danger" formaction="/friend/reject">
                <% } else { %>
                    <input type="submit" value="Add Friend" class="btn btn-primary" formaction="/friend/add">
                <% } %>
            </form>
            <% }  %>
        </div>
    </div>
</div>
<!-- include footer  -->
<%- include('incs/scripts.ejs') %>

</body>

</html>